<h1>Editing companyemployee</h1>

<%= render "form", companyemployee: @companyemployee %>

<br>
<!-- 
<div>
  <%= link_to "Show this companyemployee", @companyemployee %>
  <%= link_to "Back to companyemployees", companyemployees_path %>
</div> -->
