<div id="<%= dom_id companyadmin %>">
  <p>
    <strong>Username:</strong>
    <%= companyadmin.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= companyadmin.password %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= companyadmin.email %>
  </p>

</div>
