<h1>Editing companyadmin</h1>

<%= render "form", companyadmin: @companyadmin %>

<br>

<div>
  <%= link_to "Show this companyadmin", @companyadmin %> |
  <%= link_to "Back to companyadmins", companyadmins_path %>
</div>
