<h1>Editing companydevice</h1>

<%= render "form", companydevice: @companydevice %>

<br>

<div>
  <%= link_to "Show this companydevice", @companydevice %> |
  <%= link_to "Back to companydevices", companydevices_path %>
</div>
